@charset "UTF-8";
@import "variables";

body,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
p{
	font-family: 'Roboto Slab', serif;
	font-family: 'Roboto', sans-serif;

}
.bar.bar-balanced,
.bar.bar-balanced.bar-footer,
.bar-balanced .button{
	background-color: $primary;
	border-color: $primary;
	background-image: none;
}
.bar-balanced .button.activated{
	background-color: $primary;
	border: $primary;
	background-image: none;
	color: #e4e4e4;
}
.bar-subheader .item-input-wrapper{
	border-radius: 20px;
	background: #fff;
	input[type="search"]{
		height: auto;
		width: 100%;
	}
	.icon{
		font-weight: 700;
		color: #000;
   		width: 20px;
   		text-shadow: 0 1px 0 #fff;
   		filter: alpha(opacity=20);
	    opacity: .2;
	    font-size: 14px;
	    text-align: center;
   		&.activated{
    		opacity: .5;	
		}
		&.ion-android-search{
    		opacity: .5;				
		}
	}
}
.button-bar > .button{
	border: 0;
	border-right: 1px solid #fff;
	&.activated{
		border-right: 1px solid #fff;
	}
	&:last-child{
		border-right: 0;
	} 
}
.scroll-content{
	background: #f5f5f5 ;
}
.modal {
	.scroll-content{
		background: #f5f5f5 ;
	}
	.bar{
		background-color: #f5f5f5 ;
		border-color: #f5f5f5;
		background-image: none;
		.material-icons{
			font-size: 30px;
		}
	}
	
}
.empty {
    margin: 30% 20px 0;
    text-align: center;
    p {
    	display: block;
	    margin: 6px 0;
	    font-size: 14px;
	    line-height: 20px;
	    color: inherit;
		text-align: center;
	    font-weight: 300;
	    font-size: 1.2em;
	    text-shadow: 0 1px 0 #ffffff;
     	color: #868686;
	}
	.empty-icon {
		vertical-align: middle;
		font-size: 10em;
		color: #ccc;
		-webkit-text-shadow: 0px -1px 0px #ACACAC;
    }
}
.item-input{
	.require{
		position: absolute;
	    top: 0;
	    right: 15px;
	    color: #ca201d;
	    font-size: 22px;
	    line-height: 47px;
	}
}
.card, .list-inset{
	border-radius: 10px;
}
.item-divider{
	background: $primary;
	color: #fff;
}
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before{
	background-color: $primary ;
	border-color: $primary;
}
.alert {
    margin: 10px 10px;
    color: #a94442;
    .material-icons{
    	font-size: 24px;
    	vertical-align: middle;
    }
}


.view-detail{
	.head-detail{
		background: $primary;
		text-align: center;
		padding: 50px 20px 60px 20px; 
		position: relative;
		h2{
			font-weight: 100;
			color: #fff;
			max-width: 70%;
			margin: 0 auto;
		}
		.nit{
			color: #fff;
			opacity: .6;
			font-size: 18px;
		}
		.button{
			position: absolute;
			width: 20px;
			height: 20px;
			text-align: center;
			border-radius: 50%;
			top: 30%;
			display: block;
			padding: 0;
		    border: 0;
		    line-height: 25px;
			i{
				line-height: 48px;
			}
			&.btn-left{
				left: 10px;
			}
			&.btn-right{
				right: 10px;
			}
		}
	}
	.card{
		z-index: 9;
	    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
	    position: relative;
	    padding: 0;
		&.card-top{
			margin-top: -30px;	
			.material-icons{
				position: absolute;
			    width: 53px;
			    height: 53px;
			    line-height: 53px;
			    top: 0;
			    left: 0;
			    text-align: center;
			    border-right: 1px solid #ccc;
			}	
			.list{
				.item{
					white-space: normal;
					padding-left: 63px;
				}
			}    
		}
	}
}